@font-face {
		font-family: Imagine;
		src: url(imagine_font.ttf);
	}
	
	h1{
		font-family: Imagine, Courier, sans-serif;
		font-size: 48px;
		text-align: center;
	}

#outer {
	width: 600px;
	height: 450px;
		
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	}
	
#logo {
	display: block;
	float: left;
	position: absolute;
	margin-top: 30px;
	}

	.right {
		float: right;
		width: 40%;
	}

	h1 > a {
		text-decoration: none;
		color: black;
	}
	
	h1 > a:hover {
		color: #7f8c8d;
	}
	
	#divider {
		display: inline-block;
		vertical-align: middle;
	}
	
	.image {
		opacity: 1;
	}
	.image:hover {
		opacity: 0.5;
	}
	
	#about {
		width: 194px;
		height: 259px;
		background-color: black;
		vertical-align: middle;
		margin: auto;
		color: white;
		font-family: Futura, Helvetica, sans-serif;
		font-size: 0.5em;
		text-align: left;
		padding: 5px;
	}
	
	.error {
		display: block;
		text-align: center;
		font-family: Futura, Helvetica, sans-serif;
		margin: auto;
	}
	
	a.error {
		font-family: Imagine, Helvetica, sans-serif;
		display: inline;
	}
	
	p.error{
		font-size: 15px;
	}
	
	.errorImage {
		display: block;
		margin: auto;
	}
	
	.header {
		position: fixed;
		z-index: 1;
		left: 150px;
		top: 0;
	}
	
	.gameBox {
		width: 194px;
		height: 70px;
		background-color: black;
		vertical-align: middle;
		margin: auto;
		color: white;
	}
	
	.gameBox:hover {
		background-color: #7f8c8d;
	}
	
	div.gameBox {
		margin-top: 10px;
	}
	
	.block {
		text-align: center;
		margin: auto;
		margin-top: 20px;
	}
	
	.center {
		display: block;
		margin: auto;
		position: relative;
		top: 20%;
		transform: translateY(-50%);
	}
	
	p.center {
		font-family: Futura, Helvetica, sans-serif;
		font-size: 2em;
		text-align: center;
	}
	
	a.center {
		text-decoration: none;
	}
